<form [formGroup]="form">
  <h1>Register.</h1>

  <div>
    <app-input
      className="full"
      placeholder="Your unique username"
      formControlName="username"
      [invalid]="username.invalid && (username.dirty || username.touched)"
      [error]="getError(username)"
      label="Your username">
    </app-input>
  </div>

  <div class="block-margin">
    <app-input
      className="full"
      type="password"
      placeholder="At least 5 characters"
      formControlName="password"
      [invalid]="password.invalid && (password.dirty || password.touched)"
      [error]="getError(password)"
      label="Password">
    </app-input>
  </div>

  <div class="block-margin">
    <app-input
      className="full"
      type="password"
      placeholder="Should be same as password"
      formControlName="passwordRepeat"
      [invalid]="passwordRepeat.invalid && (passwordRepeat.dirty || passwordRepeat.touched)"
      [error]="getError(passwordRepeat)"
      label="Repeat password">
    </app-input>
  </div>

  <div class="block-margin">
    <app-button
      [disabled]="form.invalid"
      className="full"
      (click)="register()"
      [loading]="isRegistering"
      color="primary">
        Register
    </app-button>
  </div>

  <div class="label-margin error-label" *ngIf="serverError">
    {{ serverError }}
  </div>

  <p class="block-margin">Already have an account? <a routerLink="/auth/login">Log in.</a></p>
</form>
