<div class="container">
  <div class="container__left">
    <div class="container__login-signup">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="container__right">
    <div class="rectangles">
      <div class="rectangle rectangle--accent">
      </div>

      <div class="rectangle rectangle--primary">

        <div class="rectangle__circles">
          <div class="circles">
            <div class="circle circle--accent">
            </div>

            <div class="circle circle--white">
            </div>
          </div>
        </div>

        <div class="rectangle__text-container">
          <div class="rectangle__text">
            <h3>Chat with your friends</h3>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
